@mixin flex-col {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    @include flex-col;
    margin: 0 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1b21;

    justify-content: center;
    align-items: center;
    background-image: url(../public/assets/images/background.svg);
    background-repeat: repeat-x;
    background-size: auto 320px;
}

.container {
    @include flex-col;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

a {
    text-decoration: none;
}

.pic--div {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    & img {
        height: 100%;
        width: 100%;
        max-width: 324px;
        max-height: 368px;
        align-self: center;
        border-radius: 0 0 10px 10px;
    }
}

.header-content--div {
    @include flex-col;
    & h3 {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding-top: 21px;
    }
    & h5 {
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        color: #f3bf99;
        margin: 0;
        padding-top: 6px;
    }

    & a {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
        /* identical to box height, or 15px */
        text-align: center;
        color: #f5f5f5;
        margin: 0;
        padding-top: 9px;
    }
}

.button--div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}
// padding on the zane-wilson link in header
.header--button {
    width: 115px;
    height: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    border: 0;
    padding: 9px 13px 9px 11px;
    cursor: pointer;
    & p {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }
    & img {
        height: 16px;
        width: 16px;
    }
}

.em--button {
    background: #ffffff;
    /* gray/300 */

    border: 1px solid #d1d5db;
    box-sizing: border-box;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    &:hover,
    &:focus {
        background-color: #ffffffd5;
        transition: 0.35s;
    }
}

.li--button {
    color: #ffffff;
    background: #5093e2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    &:hover,
    &:focus {
        background-color: #5094e2de;
        transition: 0.35s;
    }
    & img {
        color: #ffffff;
    }
}

main {
    @include flex-col;
    padding: 33px 37px 102px 37px;
    margin: 0 0 0 0;
    max-width: 428px;
    & h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        color: #f5f5f5;
        margin: 0;
        padding-bottom: 5px;
    }

    & p {
        margin: 0;
        color: #dcdcdc;
        font-size: 10px;
        line-height: 15px;
    }
}

.main--interests {
    padding-top: 13px;
}

footer {
    display: flex;
    background-color: #161619;
    align-items: center;
    justify-content: center;
    width: screen;
    height: 64px;
    padding: 19px 0 20px 0;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    & a {
        color: #918e9b;
        margin-top: 19px;
        margin-bottom: 20px;
        width: 28px;
        &:hover,
        &:focus {
            color: #918e9bbe;
            transition: 0.35s;
        }
    }
}

.twitter,
.facebook,
.insta {
    margin-right: 24px;
}
