* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1b21;
}

a {
    text-decoration: none;
}

.main--div {
    display: flex;
    flex-direction: column;
}

.main--div > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.main--div > h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 21px;
}

.main--div > h5 {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #f3bf99;
    margin: 0;
    padding-top: 6px;
}

.main--div > a {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-align: center;
    color: #f5f5f5;
    margin: 0;
    padding-top: 9px;
}

.button--div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

.header--button {
    width: 115px;
    height: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    border: 0;
    padding: 9px 13px 9px 11px;
}

.em--button {
    background: #ffffff;
    /* gray/300 */

    border: 1px solid #d1d5db;
    box-sizing: border-box;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.header--button > p {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.li--button {
    color: #ffffff;
    background: #5093e2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.li--button > img {
    color: #ffffff;
}

.header--button > img {
    height: 16px;
    width: 16px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 33px 37px 38px 37px;
    margin: 0;
}

main > h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 5px;
}

main > p {
    margin: 0;
    color: #dcdcdc;
    font-size: 10px;
    line-height: 15px;
}

.main--interests {
    padding-top: 13px;
}

footer {
    display: flex;
    background-color: #161619;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 19px 73px 20px 73px;
    border-radius: 0 0 10px 10px;
}

footer > a {
    color: #918E9B;
    margin-top: 19px;
    margin-bottom: 20px;
    width: 28px;
}

.twitter, .facebook, .insta {
    margin-right: 24px;
}
